.GuitarCards {
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: white;
  gap: 40px;
  text-align: center;

  img {
    width: 25%;
  }

  p {
    line-height: 1.5rem;
  }
}
