nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 10px;

  img {
    width: 90px;
  }

  ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }
}

/*.container .nav-btn {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  visibility: visible;
  opacity: 1;
}*/
