.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.guitarTypes {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  /*animation: intro 2s ease-out;*/
}
